# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.env/
.venv/

# Installer files
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Django
*.log
local_settings.py
db.sqlite3
media/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Byte-compiled / distribution
build/
dist/
*.egg-info/
